auto-install-peers = true
inject-workspace-packages=true
ignore-workspace-root-check=true
prefer-workspace-packages=true
link-workspace-packages = true
# registry=https://maven.xpaas.lenovo.com/nexus/repository/npm/
@qes/:registry=https://maven.xpaas.lenovo.com/nexus/repository/kun/
